<!DOCTYPE html>
<html>
  <head>
    <title>TurnTable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script>
      window.headerURL = "<%= image_url('home-search.jpg') %>"
      window.headerURL = "<%= image_url('index-searchbar.jpg') %>"
      window.headerURL = "<%= image_url('logo.jpg') %>"
    </script>

    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
